@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  background: 0;
}

*,
*::before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

ul, li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.header {
  padding: 10px;
  background-image: url("../imgs/photo_2024-05-27_22-05-44.jpg");
  height: 550px;
  width: auto;
  position: relative;
}

.submittingTheForm {
  display: none;
}

.submittingTheForm._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  position: absolute;
  top: 150px;
  left: 448px;
  padding: 15px 10px;
}
.submittingTheForm._active p {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 5px;
}
.submittingTheForm._active input {
  width: 300px;
  margin: 10px auto 7px auto;
  padding: 5px 10px;
  border: 1px solid rgb(150, 149, 149);
  border-radius: 5px;
}
.submittingTheForm._active input:hover {
  border: 1px solid rgb(11, 107, 176);
  -webkit-box-shadow: 1px 1px 8px rgb(11, 107, 176);
          box-shadow: 1px 1px 8px rgb(11, 107, 176);
}
.submittingTheForm._active #closeModalWind {
  background-color: rgb(11, 107, 176);
  color: white;
  font-size: 22px;
  padding-bottom: 3px;
  font-weight: 600;
  height: auto;
  width: 28px;
  border: none;
  border-radius: 6px;
  position: absolute;
  top: -1px;
  left: 360px;
  -webkit-transition: background-color 1.5s;
  transition: background-color 1.5s;
}
.submittingTheForm._active #closeModalWind:hover {
  background-color: rgb(41, 144, 218);
}
.submittingTheForm._active #saveDataUser {
  margin: 6px auto;
  background-color: rgb(11, 107, 176);
  color: white;
  width: 200px;
  font-size: 17px;
  padding: 9px;
  border: none;
  border-radius: 60px;
  font-weight: 700;
  background-color: rgb(11, 107, 176);
}
.submittingTheForm._active #saveDataUser:hover {
  -webkit-animation: pulse 0.9s linear infinite;
          animation: pulse 0.9s linear infinite;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 6.5px #0b6bb0, 0 0 8.5px #0b6bb0;
            box-shadow: 0 0 6.5px #0b6bb0, 0 0 8.5px #0b6bb0;
  }
  50% {
    -webkit-box-shadow: 0 0 0 7.5px rgba(11, 107, 176, 0.5), 0 0 0 9px rgba(11, 107, 176, 0.5);
            box-shadow: 0 0 0 7.5px rgba(11, 107, 176, 0.5), 0 0 0 9px rgba(11, 107, 176, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 9px 9px rgba(11, 107, 176, 0.3), 0 0 0 10px rgba(11, 107, 176, 0.3);
            box-shadow: 0 0 9px 9px rgba(11, 107, 176, 0.3), 0 0 0 10px rgba(11, 107, 176, 0.3);
  }
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 6.5px #0b6bb0, 0 0 8.5px #0b6bb0;
            box-shadow: 0 0 6.5px #0b6bb0, 0 0 8.5px #0b6bb0;
  }
  50% {
    -webkit-box-shadow: 0 0 0 7.5px rgba(11, 107, 176, 0.5), 0 0 0 9px rgba(11, 107, 176, 0.5);
            box-shadow: 0 0 0 7.5px rgba(11, 107, 176, 0.5), 0 0 0 9px rgba(11, 107, 176, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 9px 9px rgba(11, 107, 176, 0.3), 0 0 0 10px rgba(11, 107, 176, 0.3);
            box-shadow: 0 0 9px 9px rgba(11, 107, 176, 0.3), 0 0 0 10px rgba(11, 107, 176, 0.3);
  }
}

.header_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header_details .header_details__contactsNumber {
  position: absolute;
  right: 33px;
}
.header_details .header_details__contactsNumber p {
  color: white;
  font-size: 22px;
  font-weight: 700;
  padding: 0 0 10px 0;
  text-shadow: 2px 2px 3px rgb(14, 90, 144);
}
.header_details .header_details__contactsNumber #header_details__connectionBtn {
  margin: 9px 0;
  background-color: rgb(11, 107, 176);
  color: white;
  width: 200px;
  font-size: 17px;
  padding: 9px;
  border: none;
  border-radius: 60px;
  font-weight: 700;
  background-color: rgb(11, 107, 176);
}
.header_details .header_details__contactsNumber #header_details__connectionBtn:hover {
  -webkit-animation: pulse 0.9s linear infinite;
          animation: pulse 0.9s linear infinite;
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 6.5px #0b6bb0, 0 0 8.5px #0b6bb0;
            box-shadow: 0 0 6.5px #0b6bb0, 0 0 8.5px #0b6bb0;
  }
  50% {
    -webkit-box-shadow: 0 0 0 7.5px rgba(11, 107, 176, 0.5), 0 0 0 9px rgba(11, 107, 176, 0.5);
            box-shadow: 0 0 0 7.5px rgba(11, 107, 176, 0.5), 0 0 0 9px rgba(11, 107, 176, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 9px 9px rgba(11, 107, 176, 0.3), 0 0 0 10px rgba(11, 107, 176, 0.3);
            box-shadow: 0 0 9px 9px rgba(11, 107, 176, 0.3), 0 0 0 10px rgba(11, 107, 176, 0.3);
  }
}
.header_details .header_details__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6px 0;
}
.header_details .header_details__icon #icon_firm {
  width: 30px;
  -webkit-filter: invert(1);
          filter: invert(1);
}
.header_details .header_details__icon p {
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2px;
}
.header_details .header_details__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 120px;
  left: 30px;
  line-height: 30px;
}
.header_details .header_details__info h1 {
  color: white;
  font-size: 33px;
  font-weight: 800;
  margin: 0 0 7px 0;
}
.header_details .header_details__info p {
  color: white;
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 9px;
}
.header_details .header_details__info #info_bonus {
  display: inline;
  font-size: 18px;
  width: 400px;
  margin: 7px 0;
}
.header_details .header_details__info #header_details__info_consultation {
  background-color: rgb(11, 107, 176);
  color: white;
  width: 200px;
  font-size: 17px;
  padding: 9px;
  border: none;
  border-radius: 60px;
  font-weight: 700;
  background-color: rgb(11, 107, 176);
}
.header_details .header_details__info #header_details__info_consultation:hover {
  -webkit-animation: pulse 0.9s linear infinite;
          animation: pulse 0.9s linear infinite;
}
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 6.5px #0b6bb0, 0 0 8.5px #0b6bb0;
            box-shadow: 0 0 6.5px #0b6bb0, 0 0 8.5px #0b6bb0;
  }
  50% {
    -webkit-box-shadow: 0 0 0 7.5px rgba(11, 107, 176, 0.5), 0 0 0 9px rgba(11, 107, 176, 0.5);
            box-shadow: 0 0 0 7.5px rgba(11, 107, 176, 0.5), 0 0 0 9px rgba(11, 107, 176, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 9px 9px rgba(11, 107, 176, 0.3), 0 0 0 10px rgba(11, 107, 176, 0.3);
            box-shadow: 0 0 9px 9px rgba(11, 107, 176, 0.3), 0 0 0 10px rgba(11, 107, 176, 0.3);
  }
}
.header_details .header_details__info .header_details__info_icons_list {
  margin: 27px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}
.header_details .header_details__info .header_details__info_icons_list li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  width: 100px;
  text-align: center;
  margin: 0 25px;
}
.header_details .header_details__info .header_details__info_icons_list .header_details__info_icons {
  width: 60px;
  -webkit-filter: invert(1);
          filter: invert(1);
}
.header_details .header_details__info .header_details__info_icons_list figure {
  color: white;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
}
.header_details .header_details__info .navigationToCatalog {
  margin-top: 17px;
  font-size: 21px;
  color: white;
}
.header_details .header_details__info .navigationToCatalog a {
  color: white;
  font-size: 21px;
  text-transform: uppercase;
  text-decoration: underline;
}
@media (max-width: 750px) {
  .header_details h1 {
    font-size: 28px;
  }
  .header_details p {
    font-size: 22px;
  }
}

.idntityConfirmResponse {
  position: absolute;
  top: 150px;
  left: 487px;
  display: none;
  border: 1px solid rgb(150, 149, 149);
  background-color: white;
  width: 300px;
  font-size: 19px;
  font-weight: 600;
  border-radius: 6px;
  padding: 15px 50px;
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: opacity 2s ease-out, -webkit-transform 2s ease-out;
  transition: opacity 2s ease-out, -webkit-transform 2s ease-out;
  transition: opacity 2s ease-out, transform 2s ease-out;
  transition: opacity 2s ease-out, transform 2s ease-out, -webkit-transform 2s ease-out;
}
.idntityConfirmResponse span {
  color: rgb(11, 107, 176);
}
.idntityConfirmResponse._active {
  display: block;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.advantagesBlock {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantagesBlock h1 {
  color: rgb(11, 107, 176);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 14px;
}
.advantagesBlock .advantagesBlock__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.advantagesBlock .advantagesBlock__details h3 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
}
.advantagesBlock .advantagesBlock__details p {
  font-size: 18px;
  text-align: center;
  width: 250px;
}
.advantagesBlock .advantagesBlock__details .advantagesBlock__details_elem {
  margin: 20px 10px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 200px;
}
.advantagesBlock .advantagesBlock__details #advantagesBlock__details_icon {
  width: 90px;
  margin: 10px 0;
}
@media (max-width: 767px) {
  .advantagesBlock h1 {
    font-size: 28px;
  }
  .advantagesBlock .advantagesBlock .advantagesBlock__details_elem {
    width: 90px;
    margin: 20px 10px;
  }
  .advantagesBlock .advantagesBlock .advantagesBlock__details_elem h3 {
    font-size: 20px;
  }
  .advantagesBlock .advantagesBlock .advantagesBlock__details_elem p {
    font-size: 17px;
  }
}

.advantagesBlock.__show {
  opacity: 1;
  -webkit-animation: surfacingOfTheBlock 1.3s ease-out;
          animation: surfacingOfTheBlock 1.3s ease-out;
}

@-webkit-keyframes surfacingOfTheBlock {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes surfacingOfTheBlock {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.discountedProductsBlock {
  background-image: linear-gradient(45deg, rgb(14, 90, 144), rgb(11, 107, 176), rgb(41, 144, 218));
  margin: 20px auto;
  height: 600px;
}
.discountedProductsBlock h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
  letter-spacing: 1px;
}
.discountedProductsBlock .discountedProductsBlock__slider {
  width: 700px;
  height: 500px;
  position: relative;
  margin: 15px auto;
  border-radius: 8px;
  overflow: hidden;
}
.discountedProductsBlock .discountedProductsBlock__slider_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.discountedProductsBlock .discountedProductsBlock__slider_img.active {
  opacity: 1;
}
.discountedProductsBlock .controlls {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}
.discountedProductsBlock .prev,
.discountedProductsBlock .next {
  display: inline-block;
}
.discountedProductsBlock .prev:hover,
.discountedProductsBlock .next:hover {
  cursor: pointer;
}
.discountedProductsBlock .prev {
  left: 10px;
}
.discountedProductsBlock .next {
  right: 10px;
}
@media (max-width: 890px) {
  .discountedProductsBlock h1 {
    font-size: 35px;
  }
  .discountedProductsBlock .discountedProductsBlock__slider {
    width: 610px;
    height: 410px;
  }
  .discountedProductsBlock .discountedProductsBlock {
    height: 450px;
  }
}

#scrollToTop {
  opacity: 0;
  visibility: hidden;
  border: none;
  position: fixed;
  top: 500px;
  right: 35px;
  -webkit-transition: opacity 0.5s ease-out, visibility 1s ease-out;
  transition: opacity 0.5s ease-out, visibility 1s ease-out;
}
#scrollToTop img {
  width: 60px;
}

#scrollToTop.active {
  opacity: 1;
  visibility: visible;
}

.commodityPart {
  margin-top: 50px;
}
.commodityPart h1 {
  font-size: 33px;
  color: rgb(11, 107, 176);
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.commodityPart .sortCatalogProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.commodityPart .sortCatalogProduct button {
  background-color: rgb(11, 107, 176);
  border: none;
  margin: 10px 0;
  color: white;
  font-size: 20px;
  padding: 10px 17px;
  position: relative;
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.commodityPart .sortCatalogProduct button:hover {
  background-color: rgb(41, 144, 218);
}

.productCatalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0px;
          flex: 0 0 0;
  margin: 10px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productCatalog_elem {
  display: block;
  opacity: 1;
  border: 1px solid rgb(150, 149, 149);
  padding: 15px;
  max-width: 310px;
  max-height: 500px;
  margin: 10px 28px 60px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.productCatalog_elem.hidden {
  display: none;
  opacity: 0;
}
.productCatalog_elem .productCatalog_elem_body {
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.5s, height 0.5s;
  transition: opacity 0.5s, height 0.5s;
}
.productCatalog_elem .productCatalog_elem_body.show {
  opacity: 1;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.productCatalog_elem .productCatalog_elem_nameClock {
  font-size: 19.5px;
  font-weight: 600;
  margin-bottom: 15px;
}
.productCatalog_elem .productCatalog_elem_img {
  width: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.productCatalog_elem .productCatalog_elem_details {
  margin-top: 10px;
  color: rgb(11, 107, 176);
  text-transform: uppercase;
  font-size: 21px;
  border: none;
  position: relative;
}
.productCatalog_elem .productCatalog_elem_details:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 125px;
  height: 2px;
  background-color: rgb(11, 107, 176);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.6s ease-out;
  transition: -webkit-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
  transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}
.productCatalog_elem .productCatalog_elem_details:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.productCatalog_elem hr {
  border: 1px solid rgb(150, 149, 149);
  width: 100%;
  margin: 10px 0;
}
.productCatalog_elem .productCatalog_elem_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.productCatalog_elem .productCatalog_elem_footer .discount {
  color: rgb(11, 107, 176);
  font-size: 25px;
  font-weight: 700;
}
.productCatalog_elem .productCatalog_elem_footer .defaultPrice {
  color: black;
  text-decoration: line-through;
  font-size: 19px;
  font-weight: 600;
  margin-left: 8px;
}
.productCatalog_elem .productCatalog_elem_footer .default {
  color: rgb(11, 107, 176);
  font-size: 25px;
  font-weight: 600;
  margin-left: 70px;
}
.productCatalog_elem .productCatalog_elem_footer .productCatalog_elem_buyBtn {
  border: none;
  border-radius: 60px;
  padding: 5px 13px;
  color: white;
  font-size: 18px;
  background-color: rgb(11, 107, 176);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  margin-left: 10px;
}
.productCatalog_elem .productCatalog_elem_footer .productCatalog_elem_buyBtn:hover {
  background-color: rgb(41, 144, 218);
}
.productCatalog_elem .productCatalog_elem_purchaseFormClass {
  display: none;
}
.productCatalog_elem .productCatalog_elem_purchaseFormClass.show {
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed; /* Изменено с absolute на fixed для фиксации позиции относительно окна */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); /* Сдвиг на 50% по горизонтали и вертикали для центрирования */
  background-color: white;
  border: 1px solid rgb(150, 149, 149);
  padding: 10px;
}
.productCatalog_elem .productCatalog_elem_purchaseFormClass.show p {
  font-size: 22px;
}
.productCatalog_elem .productCatalog_elem_purchaseFormClass.show p span {
  color: rgb(11, 107, 176);
}
.productCatalog_elem .productCatalog_elem_purchaseFormClass.show input {
  border: 1px solid rgb(150, 149, 149);
  padding: 5px 7px;
  font-size: 19px;
  margin-top: 10px;
  border-radius: 6px;
}
.productCatalog_elem .product_elem_moreInfo {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
  width: 230px;
  padding: 10px 0;
  opacity: 0;
  -webkit-transition: max-height 0.5s, opacity 0.5s;
  transition: max-height 0.5s, opacity 0.5s;
}
.productCatalog_elem .product_elem_moreInfo.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
}
.productCatalog_elem .product_elem_moreInfo.show p {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 8px;
}
.productCatalog_elem .product_elem_moreInfo.show span {
  color: rgb(11, 107, 176);
  font-size: 20px;
}
.productCatalog_elem .product_elem_moreInfo.show .product_elem_moreInfo_backToMain {
  text-transform: uppercase;
  font-size: 21px;
  margin-top: 15px;
  color: rgb(11, 107, 176);
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer .footer__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 36%;
  top: 180px;
  z-index: 1;
  margin-top: 30px;
}
.footer .footer__card ul {
  margin: 0 20px;
}
.footer .footer__card .footer__contacts {
  width: 300px;
  height: 150px;
  background-color: rgb(41, 144, 218);
  border-radius: 7px;
  -webkit-box-shadow: 1px 7px 8px rgb(14, 90, 144);
          box-shadow: 1px 7px 8px rgb(14, 90, 144);
  position: relative;
  left: 20px;
  top: 10px;
  padding: 10px;
}
.footer .footer__card .footer__contacts h2 {
  font-size: 23px;
  font-weight: 700;
  color: rgb(14, 90, 144);
}
.footer .footer__card .footer__contacts .footer__contacts_socialNetw {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer__card .footer__contacts .footer__contacts_socialNetw .footer__contacts_socialNetw_img {
  margin: 0 12px;
}
.footer .footer__card .footer__contacts .footer__contacts_socialNetw .footer__contacts_socialNetw_img img {
  width: 34px;
  height: auto;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.footer .footer__card .footer__contacts .footer__contacts_socialNetw .footer__contacts_socialNetw_img img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.footer .footer__card .footer__contacts .footer__contacts-elem {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6px 0;
}
.footer .footer__card .footer__contacts .footer__contacts-elem p {
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: 600;
}
.footer .footer_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 30px;
  left: 0;
}
.footer .footer_map iframe {
  width: 100%;
  height: 550px;
  border: none;
}

#arrowStart {
  display: none;
  position: fixed;
  top: 500px;
  right: 20px;
  border: none;
}
#arrowStart img {
  width: 40px;
}
@media (max-width: 890px) {
  #arrowStart {
    left: 900px;
  }
  #arrowStart img {
    width: 32px;
  }
}
